.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  width: 100%;
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  color: var(--header-color);
  background-color: var(--main-color);
}
.nav-container:after {
  display: block;
  position: absolute;
  left: 0;
  top: 110%;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #c4c4c4;
}
.logo {
  font-size: 1.2rem;
  text-align: center;
}
.nav-list {
  display: none;

  align-items: center;
}
.nav-link {
  margin: 0 7px;
}
.phone-number {
  display: inline-block;
}
.number {
  font-size: 1.5rem;
}
.phone {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(./../icons/Vector_phone.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-call {
  width: 15rem;
  padding: 0.7rem;

  border: 2px solid var(--header-color);
  border-radius: 5px;

  color: var(--header-color);
  background-color: var(--main-color);
  text-transform: uppercase;
}
.mobile-list {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-list {
    display: flex;
  }
  .mobile-list {
    display: none;
  }
}
