.block-question{
  display: flex;
  height: 100vh;
}
.justice-img{
  height: 100%;
  width: 100%;
  padding-right: 50px;
background-image:url(./../images/justice.png);
background-size: cover;
background-repeat: no-repeat;
}
.img{
  width: 648px;
  height: 660px;
}
.question{
  display: flex;
  flex-direction: column;
  justify-content: center;
}