:root{
--main-color: #65C466;
--footer-color: #243246;
--text-color: #414141;
--header-color:#ffffff;

/* font-family: 'Roboto', sans-serif; */
font-size: 13px;
font-weight: 400;
}
@media screen and (min-width:1336px) {
  :root{
    font-size: 16px ;
  }
  
}